<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.step08broadcastreciever">
    <!-- 부팅이 완료 되었을때 방송을 받으려면 퍼미션이 필요하다. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 방송 수신자 객체 등록 -->
        <receiver
            android:name=".ReceiverType1"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gura.TYPE1" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".ReceiverType2"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.gura.TYPE2" />
            </intent-filter>
        </receiver>
        <!--부팅이 완료 되었을 때 방송되는 방송을 받을 수신자 객체-->
        <receiver
            android:name=".BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </receiver>
    </application>

</manifest>